[project]
	description = Titan Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frank Rehberger (frehberg)
[access "refs/for/refs/*"]
	read = group user/Frank Rehberger (frehberg)
	push = group user/Frank Rehberger (frehberg)
	label-Code-Review = -2..+2 group user/Frank Rehberger (frehberg)
	label-Verified = -1..+1 group user/Frank Rehberger (frehberg)
	rebase = group user/Frank Rehberger (frehberg)
	removeReviewer = group user/Frank Rehberger (frehberg)
	submit = group user/Frank Rehberger (frehberg)
[access "refs/heads/*"]
	read = group user/Frank Rehberger (frehberg)
	create = group user/Frank Rehberger (frehberg)
	push = +force group user/Frank Rehberger (frehberg)
	pushMerge = group user/Frank Rehberger (frehberg)
[access "refs/tags/*"]
	push = group user/Frank Rehberger (frehberg)
	push = +force group user/Frank Rehberger (frehberg)
